<header>
  <div class="container main-menu">
    <div class="logo blue"><strong>Alejandro Guevara</strong> | Web Developer</div>
    <div class="menu-links">
      <%= link_to('Resume', root_path) %>
      <%= link_to('Blog', articles_path) %>
    </div>
  </div>
</header>
