<p>
  My passion is building aesthetic website that will get you one step closer to accomplishing your
  professional goals, whilst ringing the users a great web experience on their Desktop computers,
  Laptops and Phones
</p>

<p>Mail me to <%= mail_to('alejandro.guevara.esc@gmail.com') %></p>

<section class="work-experience">
  <h2>Work Experience</h2>

  <article class="work-item">
    <h3>Thincode</h3>
    <h4>Address: Lago 1753, Las Reynas, 36660, Irapuato, Guanajuato, México.</h4>

    <h5>Job title: Ruby on Rails developer</h5>
    <h5>May 2018 - PRESENT</h5>
    <p>
      I work for one of Thincode's client in the US, as an added member to their software
      development team. Between my daily activitiees, I develop API endñoints, UIs for their main
      application, some of them using VueJS. I also coordinate a team that migrates an app from
      Rails 1 to 5, write tests, and function as a communication bridge between Thincode and its
      client's dev team.
    </p>

    <h5>Job title: Test</h5>
    <h5>November 2017 - April 2018</h5>
    <p>
      I was part of a team that built a web application test suite using Ruby tools like RSpec,
      Capybara and Cucumber. This suite was required by one of Thincode's client in the US. After
      my work in this position, I got promoted to Ruby on Rails developer in one of the client's
      dev teams.
    </p>
  </article>

  <article class="work-item">
    <h3>Instaglass</h3>
    <h4>
      Address: Calzada de los Chinacos 609, San Gabriel 1ra Sección, 36640,
      Irapuato, Guanajuato, México
    </h4>

    <h5>Job Title: Intern, Administrative Assistant</h5>
    <h5>July 2016 - August 2016</h5>

    <p>
      My activities were <strong>data capture</strong> and <strong>archive maintenance</strong>.
      During my time here, I programmed their Google Sheets documents in order to ease data
      managemente, making use of <strong>Google's Apps Script</strong>, achieving:
      <ul>
        <li>Automated Emails to clients</li>
        <li>
          Automated Gasoline Usage Reports for the company's trucks, which included distance
          traveled using Google Maps API
        </li>
        <li>Sale &amp; Payments logs</li>
      </ul>
    </p>
  </article>
</section>

<section class="education">
  <h2>Education</h2>

  <article class="education-item">
    <h3>Computer Science</h3>
    <h4>Universidad de Guanajuato (DICIS)</h4>
    <h5>Guanajuato, México</h5>
    <h6>September 2013 - August 2018</h6>

    <p>
      The main courses I took as part of the Computer Science program are:
      <ul>
        <li>Programming (structured and object oriented paradigms)</li>
        <li>Software Development</li>
        <li>Computer Networks</li>
        <li>Artificial Intelligence</li>
        <li>
          Several courses in Electronics, such as Circuits Construction and Measurement, Analog Components, Microprocessors
          and Linear Integrated Circuits.
        </li>
      </ul>
    </p>
    <p>I had a <strong>%GPA</strong> of <strong>94.1</strong></p>
  </article>
  <article>
    <h3>Academic Exchange Program</h3>
    <h4>Mount Royal University</h4>
    <h5>Alberta, Canada</h5>
    <h6>September 2016 - December 2016</h6>

    <p>
      I did an academic stay in Canada taking courses on programming, system maintenance, management and philosophy of IT.
      It was an improvment to my English skills, being in a fully inmersive environment, making it a life changing experience.
      The main thing I learnt was to be eager to overcome myself and reach out of my comfort zone.
    </p>
  </article>
</section>

<section class="languages">
  <h2>Languages</h2>
  <ul>
    <li>English, written and spoken, last TOEFL ITP score: 620pts.</li>
    <li>French, B1</li>
  </ul>
</section>

<section class="skills">
  <h2>Computer Science Skills</h2>
  <ul>
    <li>
      Ruby on Rails
      <span>2 years experience</span>
    </li>
    <li>
      Programming with Javascript (Node and VueJS)
      <span>1.5 years experience</span>
    </li>
    <li>
      HTML5 and CSS3
      <span>3.5 years experience</span>
    </li>
    <li>
      MySQL, SQL Server, Postgres and Oracle databases
      <span>1.5 years experience</span>
    </li>
    <li>
      Programming with Python
      <span>1 year of non proffesional experience</span>
    </li>
    <li>
      Programming with C/C++
      <span>5 years of non proffesional experience</span>
    </li>
  </ul>
</section>

<section class="aptitudes">
  <h2>Aptitudes</h2>
  <ul>
    <li>Teamwork</li>
    <li>Eager to learn</li>
    <li>Patient</li>
    <li>Fiendly Demeanour</li>
    <li>Autodidact</li>
    <li>Adaptive</li>
    <li>Drive</li>
  </ul>
</section>

<section class="interest">
  <h2>Interests</h2>
  <ul>
    <li>Business and IT</li>
    <li>Software Development</li>
    <li>Customer Service</li>
    <li>Web Services</li>
    <li>Data Mining</li>
    <li>Artificial Intelligence</li>
    <li>Cloud Computing</li>
    <li>Automatization</li>
  </ul>
</section>

<section class="awards">
  <article>
    <h3>Beca de Movilidad de Arranque 2018</h3>
    <p>
      This is an award that was given by the government to a group of students of Guanajuato state, due to our academic
      performance. It consisted of an all paid week trip to Canada where we visited cultural and insdustry interest points
      around Montreal and Quebec.
    </p>
  </article>

  <article>
    <h3>Hackbajío (Hackathon) 2017 #Soccer&Tech First Place Award</h3>
    <p>Hosted by Major League Hacking and Technológico de Monterrey University.</p>
  </article>

  <article>
    <h3>University Merit 2016</h3>
    <p>
      To the student with the highest GPA in the Computer Science degree during the
      <span>August 2015 - June 2016</span> period.
    </p>
  </article>
</section>
